<div class="custom-jewelry">
  <div class="media"></div>
  <div class="text-context">
    <h3>Bring Your Custom Design to Life</h3>
    <p>Have something great in mind? 
      Send us your designs and get mesmerizing Compass out of them!
    </p>
  </div>
</div>