<div class="explore-jewelry">
  <div class="text-content">
    <h3>New Compass, Old love</h3>
    <p>The new handpicked Compass lineup is exclusively designed for you with one simple aim–to guide you to inspire and express your individuality while maintaining the style quotient.</p>
    <button>Explore Noew</button>
  </div>
  <div class="images">
    
  </div>
</div>