<div class="hero-banner">
    <div class="text-content">
        <h3>Let your inner compass guide you</h3>
        <p>Presenting You a Splendid Mix of Style and Spirituality</p>
        <button>Explore Now</button>
    </div>
</div>