<div class="newsletter">
  <h3 class="title">Join our world</h3>
  <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    Lorem ipsum
  </p>
  <form>
    <input placeholder="Email Address" />
    <button>Send</button>
  </form>
</div>