<div class="our-story">
  <div class="left">
    <div class="image-1"></div>
    <div class="text-content">
      <h3 class="title"></h3>
      <p class="text"></p>
    </div>
  </div>
  <div class="right">
    <div class="image-2"></div>
  </div>
</div>