.hero-banner {
  width: 100%;
}

.slideshow__text.banner__box.content-container.content-container--full-width-mobile.color-background-1.gradient.slideshow__text--center.slideshow__text-mobile--center {
  background: none;
  color: white;
  padding: 0px;
  max-width: 800px;
}

.slideshow__text h2.banner__heading.h1 {
  color: white;
}

.banner__buttons a {
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
  box-shadow: none;
}
.banner__buttons a::after {
  display: none;
}

.banner__buttons {
  background-color: white;
}

.slideshow__controls {
  display: none;
}
