/* header */
.header-homepage sticky-header.header-wrapper {
  background: none;
}

sticky-header.header-wrapper {
  background: black;
}

.header-homepage .header__menu-item span,
.header-homepage h1.header__heading a span.h2,
.header-homepage .header__icons a,
.header-homepage .header__icons span {
  color: white;
}

.header-homepage #shopify-section-header {
  background: none;
  position: absolute;
  width: 100%;
  color: white;
  z-index: 10;
  border-bottom: 1px solid #ffffff;
}

/* info-banner */
section.shopify-section.info-banner {
  background-color: black;
  color: white;
  height: 400px;
}
.info-banner .content h2 {
  color: white;
  font-size: 40px;
  margin: 20px 0px;
}

.info-banner {
  height: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.info-banner .content {
  text-align: center;
  width: 50%;
}

.info-banner .content p {
  font-size: 20px;
  color: white;
  text-align: center;
  width: 90%;
  margin: auto;
}

/* explore jewelry */
.shopify-section.explore_jewelry {
  background-color: #111111;
}

.explore_jewelry .text-content h3 {
  color: white;
}
.explore_jewelry .text-content {
  color: white;
}

.explore_jewelry .products {
  display: flex;
}

.explore_jewelry .products .jewelry {
  margin: 0px 15px;
}

.explore_jewelry .products {
  display: flex;
  width: 60%;
}

.explore-jewelry {
  display: flex;
  padding: 80px 140px;
  justify-content: space-between;
}

.explore_jewelry .products {
  display: flex;
  width: 65%;
  overflow: scroll;
}

.explore_jewelry .text-content {
  color: white;
  width: 30%;
}

explore_jewelry .text-content p {
  font-size: 14px;
}

.explore_jewelry .text-content h3 {
  color: white;
  font-size: 32px;
  line-height: 23px;
}

.explore_jewelry .jewelry .text-content h4,
.explore_jewelry .jewelry .text-content h6 {
  color: white;
}

.explore_jewelry .jewelry .text-content h6 {
  font-size: 16px;
  line-height: 22px;
  color: #f1c17f;
  text-align: center;
  margin: 10px auto;
}

.explore_jewelry .jewelry .text-content h4 {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  margin: 10px auto;
}

.explore_jewelry .jewelry .text-content {
  width: 100%;
}

.explore-jewelry button,
.custom-jewelry button {
  padding: 0px 10px;
  height: 40px;
  width: 150px;
  border: 0px;
  margin-top: 10px;
}

/* custom jewelry */
.custom_jewelry {
  background-color: black;
}

.custom-jewelry {
  display: flex;
  padding: 80px 140px 40px 140px;
  align-items: center;
  justify-content: space-between;
}

.custom-jewelry .content-media {
  width: 65%;
}

.custom-jewelry h3 {
  color: white;
  font-size: 32px;
  line-height: 43px;
}

.custom-jewelry img {
  width: 100%;
}

.custom-jewelry .text-context {
  width: 30%;
  color: white;
}

/* collection grid */
.collection-grid {
  background-color: black;
  margin: 0px;
  text-align: center;
  color: white;
  padding: 5px 0px;
}

.collection-item {
  position: relative;
}

.collection-grid h3.title {
  color: white;
  font-size: 32px;
}

.collection-grid .text-content .text {
  width: 50%;
  margin: 0px auto 0px auto;
}

.collection-grid .text-content {
  padding: 0px 140px 80px 0px;
}

.collection-item-grid .collection-item h4.type {
  font-size: 32px;
  color: white;
  text-align: center;
  padding: 10px 0px;
  margin: 10px 0px;
}

.collection-grid .text-content h3.title {
  padding: 0px;
  margin: 0px;
}

.collection-grid .grid img {
  width: 100%;
  max-width: 100%;
}

.collection-grid p.info {
  font-size: 16px;
  line-height: 23px;
}

/* jewelry_collection */
.jewelry_collection {
  padding: 80px 140px;
  background-color: black;
}

.jewelry_collection .description {
  color: white;
  margin: 20px auto 70px auto;
  text-align: center;
  width: 50%;
  font-size: 14px;
}

.jewelry_collection h3.title {
  color: white;
  text-align: center;
  font-size: 32px;
  text-align: center;
  line-height: 43px;
}

.collection-item-grid .collection-item img {
  width: 100%;
}

.collection-item-grid .content {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 35%;
}

.jewelry_collection .collection-item-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.jewelry_collection button.shop-collection {
  border: 1px solid #f1c17f;
  background: none;
  color: white;
  padding: 15px 30px;
}

/* our_story */
.our-story.shopify-section {
  background-color: #111111;
  padding: 80px 140px;
}

.our-story .left h3.title {
  color: white;
  font-size: 32px;
}

.our-story .left .text {
  width: 80%;
  font-size: 14px;
  margin-top: 10px;
}

.our-story {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.our-story .left {
  margin-right: 25px;
}

/* fundamentals */
.fundamentals {
  background-color: black;
  padding: 5px 0px;
  color: white;
}

.hallmark {
  padding: 80px 140px;
}

.hallmark p.text {
  width: 50%;
  margin: 20px auto 50px auto;
}

.fundamentals.group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.hallmark h3.title {
  color: white;
  font-size: 32px;
  text-align: center;
  margin: 0px;
}

.hallmark-item h5.title {
  font-size: 25px;
  color: white;
  line-height: 33px;
  text-align: center;
}

.hallmark .hallmark-item p.text {
  width: 100%;
  text-align: center;
  height: 180px;
}

.hallmark-item h6 {
  color: #f1c17f;
  text-align: center;
  font-size: 14px;
}

/* newsletter */
.newsletter {
  position: relative;
}

.newsletter-image img {
  width: 100%;
  height: 400px;
}

.newsletter-content {
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.newsletter-content h3 {
  color: white;
  font-size: 32px;
  text-align: center;
}

.newsletter-content p.text {
  text-align: center;
  font-size: 14px;
}

.newsletter-content form button {
  width: 150px;
  margin: 30px auto;
  height: 40px;
}

.newsletter-content form {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.newsletter-content form input {
  background: none;
  text-align: center;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  padding: 5px 0px;
}

.newsletter-content input::placeholder {
  color: white;
  font-size: 14px;
}

@media (min-width: 1600px) {
  .jewelry_collection .collection-item-grid {
    width: 80%;
    margin: auto;
  }

  .collection-item-grid .collection-item img {
    width: 100%;
    max-width: 650px;
    max-height: 650px;
  }
}

@media (min-width: 750px) {
  .slideshow.banner--medium:not(.banner--adapt) {
    min-height: 70rem;
  }
}
